.about-wrapper {
    padding: 100px 200px;

    .about-container {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 50px;

        img {
            filter: grayscale(100%);
        }

        .text-content {
            color: lightgray;
            font-size: 1.1em;
            font-family: sans-serif;

            p {
                margin-bottom: 35px;
            }
        }
    }
}


.div {
    width: 570px;
    height: 128px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr ;
}


.png {
    float: left;
}

h2 {
    margin: 10px;
}

.p {
    color: gray;
}