@import "../../assets/styles/settings";

.values-wrapper {
    padding: 100px 200px;

    .values-container {
        margin-top: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .value {
            position: relative;
            padding: 20px 20px 20px 100px;

            img {
                width: 150px;
                height: 150px;
                position: absolute;
                left: -30px;
                top: -20px;
            }

            h2 {
                margin-bottom: 20px;
            }

            p {
                color: $gray;
                font-family: sans-serif;
            }
        }
    }
}