@use "./assets/styles/resets";
@import "./assets/styles/settings";

%btn {
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    font-family: sans-serif;
    border: none;
}

.warning-btn {
    @extend %btn;
    border: 2px solid $orange;
    background-color: $orange-t;
    box-shadow: 0 0 40px $orange-t, 0 0 40px $orange-t;
}